<div class="delivery-city">
    <nav class="nav-title">
        <ul class="nav-title-list">
            <% const navTitle = [
                {
                    title: 'России',
                    current: true
                },
                {
                    title: 'Украине'
                },
                {
                    title: 'Респ. Беларусь'
                },
                {
                    title: 'Респ. Казахстан'
                }
            ] %>
            <% navTitle.forEach(function (item) { %>
                <li class="nav-title-list__item <%= item.current ? "current" : "" %>">
                    <a href="#" class="nav-title-list__link"><%= item.title %></a>
                </li>
            <% }) %>
        </ul>
    </nav>
    <nav class="nav-city">
        <ul class="nav-city-list">
            <% const navCity = [
                {
                    title: 'Москва'
                },
                {
                    title: 'Санкт-Петербург'
                },
                {
                    title: 'Краснодар'
                },
                {
                    title: 'Екатеринбург'
                },
                {
                    title: 'Казань'
                }
            ] %>
            <% navCity.forEach(function (item) { %>
                <li class="nav-city-list__item">
                    <a href="#" class="nav-city-list__link">
                        <div class="icon-circle">
                            <svg class="i-icon">
                                <use xlink:href="#icon-point"></use>
                            </svg>
                        </div>
                        <span><%= item.title %></span>
                    </a>
                </li>
            <% }) %>
        </ul>
    </nav>
    <div class="nav-alphabet">
        <div class="nav-alphabet-nav">
            <div class="nav-alphabet-list">
            <% const navAlphabet = [
                {
                    title: 'Все города',
                    current: true
                },
                {
                    title: 'А'
                },
                {
                    title: 'Б'
                },
                {
                    title: 'В'
                },
                {
                    title: 'Г'
                },
                {
                    title: 'Д'
                },
                {
                    title: 'Е'
                },
                {
                    title: 'Ж'
                },
                {
                    title: 'З'
                },
                {
                    title: 'И'
                },
                {
                    title: 'Й'
                },
                {
                    title: 'К'
                },
                {
                    title: 'Л'
                },
                {
                    title: 'М'
                },
                {
                    title: 'Н'
                },
                {
                    title: 'О'
                },
                {
                    title: 'П'
                },
                {
                    title: 'Р'
                },
                {
                    title: 'С'
                },
                {
                    title: 'Т'
                },
                {
                    title: 'У'
                },
                {
                    title: 'Ф'
                },
                {
                    title: 'Х'
                },
                {
                    title: 'Ц'
                },
                {
                    title: 'Ч'
                },
                {
                    title: 'Ш'
                },
                {
                    title: 'Щ'
                },
                {
                    title: 'Э'
                },
                {
                    title: 'Ю'
                },
                {
                    title: 'Я'
                }
            ]%>
            <% navAlphabet.forEach(function (item) { %>
                <div class="nav-alphabet-list__item <%= item.current ? "current" : "" %>">
                    <a href="#" class="nav-alphabet-list__link"><%= item.title %></a>
                </div>
            <% }) %>
        </div>
        </div>
        <div class="nav-alphabet-content-wrapper">
            <div class="nav-alphabet-content-clipper" data-scrollbar-horizontal>
                <div class="nav-alphabet-content" data-scrollbar-horizontal-clipper>
                    <% const listCity = [
                        {
                            title: 'Абаза'
                        },
                        {
                            title: 'Абакан'
                        },
                        {
                            title: 'Абдулино'
                        },
                        {
                            title: 'Абинск'
                        },
                        {
                            title: 'Агидель'
                        },
                        {
                            title: 'Агрыз'
                        },
                        {
                            title: 'Адыгейск'
                        },
                        {
                            title: 'Азнакаево'
                        },
                        {
                            title: 'Азов'
                        },
                        {
                            title: 'Ак-Довурак'
                        },
                        {
                            title: 'Аксай'
                        },
                        {
                            title: 'Алагир'
                        },
                        {
                            title: 'Алапаевск'
                        },
                        {
                            title: 'Алатырь'
                        },
                        {
                            title: 'Алдан'
                        },
                        {
                            title: 'Алейск'
                        },
                        {
                            title: 'Александров'
                        },
                        {
                            title: 'Александровск'
                        },
                        {
                            title: 'Александровск-Сахалинский'
                        },
                        {
                            title: 'Алексеевка'
                        },
                        {
                            title: 'Алексин'
                        },
                        {
                            title: 'Алзамай'
                        },
                        {
                            title: 'Альметьевск'
                        },
                        {
                            title: 'Анапа'
                        },
                        {
                            title: 'Анжеро-Судженск'
                        },
                        {
                            title: 'Асбест'
                        },
                        {
                            title: 'Балабаново'
                        },
                        {
                            title: 'Балтийск'
                        },
                        {
                            title: 'Благовещенск'
                        },
                        {
                            title: 'Бобров'
                        },
                        {
                            title: 'Великий Новгород'
                        },
                        {
                            title: 'Верхняя Тура'
                        },
                        {
                            title: 'Владикавказ'
                        },
                        {
                            title: 'Вышний Волочёк'
                        },
                        {
                            title: 'Горно-Алтайск'
                        },
                        {
                            title: 'Гусев'
                        },
                        {
                            title: 'Гусь-Хрустальный'
                        },
                        {
                            title: 'Дмитриев'
                        },
                        {
                            title: 'Дно'
                        },
                        {
                            title: 'Екатеринбург'
                        },
                        {
                            title: 'Ельня'
                        },
                        {
                            title: 'Железноводск'
                        },
                        {
                            title: 'Железногорск-Илимский'
                        },
                        {
                            title: 'Йошкар-Ола'
                        },
                        {
                            title: 'Каменск-Шахтинский'
                        },
                        {
                            title: 'Кемь'
                        },
                        {
                            title: 'Козьмодемьянск'
                        },
                        {
                            title: 'Комсомольск-на-Амуре'
                        },
                        {
                            title: 'Ликино-Дулёво'
                        },
                        {
                            title: 'Малоярославец'
                        },
                        {
                            title: 'Мариинский Посад'
                        },
                        {
                            title: 'Набережные Челны'
                        },
                        {
                            title: 'Назрань'
                        },
                        {
                            title: 'Николаевск-на-Амуре'
                        },
                        {
                            title: 'Новоалександровск'
                        },
                        {
                            title: 'Орехово-Зуево'
                        },
                        {
                            title: 'Павловский Посад'
                        },
                        {
                            title: 'Переславль-Залесский'
                        },
                        {
                            title: 'Пермь'
                        },
                        {
                            title: 'Петровск-Забайкальский'
                        },
                        {
                            title: 'Печора'
                        },
                        {
                            title: 'Ростов-на-Дону'
                        },
                        {
                            title: 'Северобайкальск'
                        },
                        {
                            title: 'Славянск-на-Кубани'
                        },
                        {
                            title: 'Спасск-Рязанский'
                        },
                        {
                            title: 'Тара'
                        },
                        {
                            title: 'Уфа'
                        },
                        {
                            title: 'Шлиссельбург'
                        },
                        {
                            title: 'Юрьев-Польский'
                        },
                        {
                            title: 'Яхрома'
                        }
                    ] %>
                    <% listCity.forEach(function (item) { %>
                        <div class="nav-alphabet-content__item">
                            <a href="#" class="nav-alphabet-content__link"><%= item.title %></a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

</div>