<section class="section-directory bg-beige-bright">
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <h1 class="h1">Каталог</h1>
            </div>
        </div>
        <div class="directory">
            <ul class="directory-list">
                <% const list = [
                    {
                        title: 'Мягкие игрушки',
                        icon: './images/svg/catalog_1.svg',
                        iconHover: './images/svg/catalog_1_hover.svg'
                    },
                    {
                        title: 'Одежда для игрушек',
                        icon: './images/svg/catalog_2.svg',
                        iconHover: './images/svg/catalog_2_hover.svg'
                    },
                    {
                        title: 'Обувь для игрушек',
                        icon: './images/svg/catalog_3.svg',
                        iconHover: './images/svg/catalog_3_hover.svg'
                    },
                    {
                        title: 'Рюкзаки и сумки',
                        icon: './images/svg/catalog_4.svg',
                        iconHover: './images/svg/catalog_4_hover.svg'
                    },
                    {
                        title: 'Аксессуары',
                        icon: './images/svg/catalog_5.svg',
                        iconHover: './images/svg/catalog_5_hover.svg'
                    },
                    {
                        title: 'Ароматы',
                        icon: './images/svg/catalog_6.svg',
                        iconHover: './images/svg/catalog_6_hover.svg'
                    },
                    {
                        title: 'Звуки и свечение',
                        icon: './images/svg/catalog_7.svg',
                        iconHover: './images/svg/catalog_7_hover.svg'
                    },
                    {
                        title: 'Double KIDS',
                        icon: './images/svg/catalog_8.svg',
                        iconHover: './images/svg/catalog_8_hover.svg'
                    },
                    {
                        title: 'Наборы',
                        icon: './images/svg/catalog_9.svg',
                        iconHover: './images/svg/catalog_9_hover.svg'
                    },
                    {
                        title: 'Sale',
                        icon: './images/svg/catalog_10.svg',
                        iconHover: './images/svg/catalog_10_hover.svg',
                        sale: true
                    }
                ]%>
                <% list.forEach(function (item) { %>
                    <li class="directory-list__item">
                        <div class="directory-item">
                            <a href="#" class="directory-item__link <%= item.sale ? 'is-hover' : '' %>" data-picture-hover>
                                <picture class="directory-item-picture">
                                    <img src="<%= item.icon %>" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                                    <img src="<%= item.iconHover %>" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                                </picture>
                                <div class="directory-item__title"><%= item.title %></div>
                            </a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</section>