<div id="pageSlider" class="page-slider" data-page-slider>
    <div class="page-slider__container" data-page-slider-container>
        <section class="page-slider__section current" data-page-slider-section>
            <div class="page-slider-counter" page-slider-counter>
                <svg class="circle-counter" width="60" height="60">
                    <circle class="circle-counter__circle" stroke="white" stroke-width="1" cx="30" cy="30" r="29" fill="transparent"/>
                </svg>
                <div class="page-slider-counter__value" page-slider-counter-value>01</div>
            </div>
            <div id="toyElement1" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement1"></use>
                </svg>
            </div>
            <div id="toyElement2" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement2"></use>
                </svg>
            </div>
            <div id="toyElement3" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement3"></use>
                </svg>
            </div>
            <div id="toyElement4" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement4"></use>
                </svg>
            </div>
            <div id="toyElement5" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement5"></use>
                </svg>
            </div>
            <div id="toyElement6" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement6"></use>
                </svg>
            </div>
            <div id="toyElement7" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement7"></use>
                </svg>
            </div>
            <div id="toyElement8" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement8"></use>
                </svg>
            </div>
            <div class="create-toy">
                <div class="create-toy__head">
                    <div class="h1">Выберите игрушку</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy data-animate="toy">
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy.png" alt="" class="toy__img">
                    </div>
                    <ul class="toy-list" data-animate-toy-list="toy-item">
                        <% const list1 = [
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item'
                            }
                        ]%>
                        <% list1.forEach(function (item) { %>
                            <li class="toy-list__item" data-animate-toy-item="<%= item.data %>">
                                <div class="toy-item toy-item--big">
                                    <a href="#" class="toy-item__link">
                                        <div class="toy-item-picture">
                                            <img src="<%= item.img %>" alt="" class="toy-item-picture__img">
                                        </div>
                                    </a>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </section>
        <section class="page-slider__section" data-page-slider-section>
            <div class="page-slider-counter" page-slider-counter>
                <svg class="circle-counter" width="60" height="60">
                    <circle class="circle-counter__circle" stroke="white" stroke-width="1" cx="30" cy="30" r="29" fill="transparent"/>
                </svg>
                <div class="page-slider-counter__value" page-slider-counter-value>02</div>
            </div>
            <div id="toyElement1" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement1"></use>
                </svg>
            </div>
            <div id="toyElement2" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement2"></use>
                </svg>
            </div>
            <div id="toyElement3" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement3"></use>
                </svg>
            </div>
            <div id="toyElement4" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement4"></use>
                </svg>
            </div>
            <div id="toyElement5" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement5"></use>
                </svg>
            </div>
            <div id="toyElement6" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement6"></use>
                </svg>
            </div>
            <div id="toyElement7" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement7"></use>
                </svg>
            </div>
            <div id="toyElement8" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement8"></use>
                </svg>
            </div>
            <div class="create-toy">
                <div class="create-toy__head">
                    <div class="h1">Выберите одежду</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy>
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy.png" alt="" class="toy__img">
                    </div>
                    <ul class="toy-list" data-animate-toy-list="toy-dress">
                        <% const list2 = [
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress'
                            }
                        ]%>
                        <% list2.forEach(function (item) { %>
                            <li class="toy-list__item" data-animate-toy-item="<%= item.data %>">
                                <div class="toy-item toy-item--big">
                                    <a href="#" class="toy-item__link">
                                        <div class="toy-item-picture">
                                            <img src="<%= item.img %>" alt="" class="toy-item-picture__img">
                                        </div>
                                    </a>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </section>
        <section class="page-slider__section" data-page-slider-section>
            <div class="page-slider-counter" page-slider-counter>
                <svg class="circle-counter" width="60" height="60">
                    <circle class="circle-counter__circle" stroke="white" stroke-width="1" cx="30" cy="30" r="29" fill="transparent"/>
                </svg>
                <div class="page-slider-counter__value" page-slider-counter-value>03</div>
            </div>
            <div id="toyElement1" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement1"></use>
                </svg>
            </div>
            <div id="toyElement2" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement2"></use>
                </svg>
            </div>
            <div id="toyElement3" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement3"></use>
                </svg>
            </div>
            <div id="toyElement4" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement4"></use>
                </svg>
            </div>
            <div id="toyElement5" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement5"></use>
                </svg>
            </div>
            <div id="toyElement6" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement6"></use>
                </svg>
            </div>
            <div id="toyElement7" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement7"></use>
                </svg>
            </div>
            <div id="toyElement8" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement8"></use>
                </svg>
            </div>
            <div class="create-toy">
                <div class="create-toy__head">
                    <div class="h1">Выберите индивидуальность</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy>
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy.png" alt="" class="toy__img">
                    </div>
                    <div class="toy-list-wrapper">
                        <ul class="toy-list" data-animate-toy-list="toy-smell">
                        <% const list3 = [
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            },
                            {
                                img: './images/content/smell.png',
                                data: 'toy-smell'
                            }
                        ]%>
                        <% list3.forEach(function (item) { %>
                            <li class="toy-list__item" data-animate-toy-item="<%= item.data %>">
                                <div class="toy-item toy-item--small">
                                    <a href="#" class="toy-item__link">
                                        <div class="toy-item-picture">
                                            <img src="<%= item.img %>" alt="" class="toy-item-picture__img">
                                        </div>
                                    </a>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                    </div>
                    <div class="toy-list-wrapper toy-list-wrapper--margin-top">
                        <ul class="toy-list" data-animate-toy-controls-list="toy-smell">
                        <% const list4 = [
                            {
                                class: 'i-icon--smell',
                                icon: '#icon-smell',
                                active: true
                            },
                            {
                                class: 'i-icon--sound',
                                icon: '#icon-sound'
                            },
                            {
                                class: 'i-icon--lamp',
                                icon: '#icon-lamp'
                            }
                        ]%>
                        <% list4.forEach(function (item) { %>
                            <li class="toy-list__item <%= item.active ? "active" : "" %>" data-animate-toy-controls-item="<%= item.data %>">
                                <div class="toy-item toy-item--black">
                                    <a href="#" class="toy-item__link">
                                        <svg class="i-icon <%= item.class %>">
                                            <use xlink:href="<%= item.icon %>"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-slider__section" data-page-slider-section>
            <div class="page-slider-counter" page-slider-counter>
                <svg class="circle-counter" width="60" height="60">
                    <circle class="circle-counter__circle" stroke="white" stroke-width="1" cx="30" cy="30" r="29" fill="transparent"/>
                </svg>
                <div class="page-slider-counter__value" page-slider-counter-value>04</div>
            </div>
            <div id="toyElement1" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement1"></use>
                </svg>
            </div>
            <div id="toyElement2" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement2"></use>
                </svg>
            </div>
            <div id="toyElement3" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement3"></use>
                </svg>
            </div>
            <div id="toyElement4" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement4"></use>
                </svg>
            </div>
            <div id="toyElement5" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement5"></use>
                </svg>
            </div>
            <div id="toyElement6" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement6"></use>
                </svg>
            </div>
            <div id="toyElement7" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement7"></use>
                </svg>
            </div>
            <div id="toyElement8" class="toy-element" data-animate>
                <svg class="i-icon">
                    <use xlink:href="#icon-toyElement8"></use>
                </svg>
            </div>
            <div class="create-toy">
                <div class="create-toy__head">
                    <div class="h1">Ваша игрушка готова!</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy>
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy.png" alt="" class="toy__img">
                    </div>
                    <div class="toy-list-wrapper toy-list-wrapper--vertical">
                        <div class="toy-list toy-list--vertical">
                        <div class="toy-list__item">
                            <div class="toy-item toy-item--big toy-item--black">
                                <a href="#" class="toy-item__link">
                                    <div class="toy-item-picture">
                                        <img src="./images/content/sound-frend.png" alt="" class="toy-item-picture__img">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="toy-list__item">
                            <div class="toy-item toy-item--big toy-item--black">
                                <a href="#" class="toy-item__link">
                                    <div class="toy-item-picture">
                                        <img src="./images/content/smell.png" alt="" class="toy-item-picture__img">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="create-toy__foot">
                    <div class="link-arrow">
                        <a href="#" class="link-arrow__link">
                            <span class="link-arrow__label">Смотреть все товары</span>
                            <i class="link-arrow__circle">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-arrow-right"></use>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>