<section id="pageSlider" class="page-slider" data-page-slider>
    <div class="page-slider-counter" page-slider-counter
         data-anchor-target="#pageSlider"
         data-100-top="position:fixed; opacity:0; transform:translateY(20px);"
         data-top="position:fixed; opacity:1; transform:translateY(0vh);"
         data--6000-top="position:fixed; opacity:1; transform:translateY(0vh);"
         data--6050-top="position:fixed; opacity:0; transform:translateY(-5px);"
    >
        <svg class="circle-counter" width="60" height="60">
            <circle class="circle-counter__circle" stroke="white" stroke-width="1" cx="30" cy="30" r="29" fill="transparent"/>
        </svg>
        <div class="page-slider-counter__value" page-slider-counter-value>01</div>
    </div>
    <div class="page-slider__bg"
         data-anchor-target="#pageSlider"
         data-100p-top="position:absolute; transform:translateY(0vh); "
         data-top="position:fixed;  transform:translateY(0vh); "
         data--1800-top="position:fixed; top:0; bottom:auto; transform:translateY(0vh); "
         data--2000-top="position:fixed; top:0; bottom:auto; transform:translateY(-100vh); "
         data--3400-top="position:fixed; top:0; bottom:auto; transform:translateY(-100vh); "
         data--3600-top="position:fixed; top:0; bottom:auto; transform:translateY(-200vh); "
         data--4700-top="position:fixed; top:0; bottom:auto; transform:translateY(-200vh); "
         data--4900-top="position:fixed; top:0; bottom:auto; transform:translateY(-300vh); "
    ></div>
    <div class="toy-element-wrapper">
        <div id="toyElement1" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data-200-top="position:fixed; opacity:0; transform:scale(0.7) translateY(60px);"
             data-100-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5900-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--6000-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-10vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement1"></use>
            </svg>
        </div>
        <div id="toyElement2" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data-100-top="position:absolute; opacity:0; transform:scale(0.7) translateY(25px);"
             data-top="position:absolute; opacity:1; transform:scale(1) translateY(0px);"
             data--350-top="position:fixed; opacity:1; transform:scale(1) translateY(0px);"
             data--5800-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--6000-top="position:absolute; opacity:1; transform:scale(1) translateY(0);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement2"></use>
            </svg>
        </div>
        <div id="toyElement3" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data--200-top="position:absolute; opacity:0; transform:scale(0.7) translateY(0vh);"
             data--400-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5800-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5900-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-5vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement3"></use>
            </svg>
        </div>
        <div id="toyElement4" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data-100-top="position:fixed; opacity:0; transform:scale(0.7) translateY(40px);"
             data--100-top="position:fixed; opacity:1; transform:scale(1) translateY(0px);"
             data--5800-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--6300-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-10vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement4"></use>
            </svg>
        </div>
        <div id="toyElement5" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data--180-top="position:absolute; opacity:0; transform:scale(0.7) translateY(0vh);"
             data--250-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5800-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--6100-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-20vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement5"></use>
            </svg>
        </div>
        <div id="toyElement6" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data-top="position:absolute; opacity:0; transform:scale(0.7) translateY(25px);"
             data--100-top="position:fixed; opacity:1; transform:scale(0.7) translateY(0px);"
             data--5800-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--6000-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-30vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement6"></use>
            </svg>
        </div>
        <div id="toyElement7" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data--250top="position:absolute; opacity:0; transform:scale(0.7) translateY(0vh);"
             data--450-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5800-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5900-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-10vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement7"></use>
            </svg>
        </div>
        <div id="toyElement8" class="toy-element" data-animate
             data-anchor-target="#pageSlider"
             data--180-top="position:absolute; opacity:0; transform:scale(0.7) translateY(15px);"
             data--500-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--5700-top="position:fixed; opacity:1; transform:scale(1) translateY(0vh);"
             data--6000-top="position:absolute; opacity:0; transform:scale(0.7) translateY(-10vh);"
        >
            <svg class="i-icon">
                <use xlink:href="#icon-toyElement8"></use>
            </svg>
        </div>
    </div>
    <div class="page-slider__container" data-page-slider-container>
        <section id="pageSlide1" class="page-slider__section current" data-page-slider-section
                 data-anchor-target="#pageSlider"
                 data-600-top="position:fixed; z-index:0; transform:translateY(100vh);"
                 data-top="position:fixed; z-index:1; transform:translateY(0vh);"
                 data--1800-top="position:fixed; z-index:1; transform:translateY(0vh);"
                 data--2000-top="position:fixed; z-index:1; transform:translateY(-100vh);"
        >
            <div class="create-toy"
                 data-anchor-target="#pageSlider"
                 data--1800-top="transform:translateY(0vh);"
                 data--2000-top="transform:translateY(100vh);"
            >
                <div class="create-toy__head"
                     data-anchor-target="#pageSlider"
                     data-600-top="opacity: 0;"
                     data-100-top="opacity: 1;"
                     data--1800-top="opacity: 1"
                     data--1900-top="opacity: 0"
                >
                    <div class="h1">Выберите игрушку</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творить чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy data-animate="toy"
                         data-anchor-target="#pageSlider"
                         data--1200-top="opacity: 0; transform:scale(0.7);"
                         data--1400-top="opacity: 1; transform:scale(1);"
                         data--3100-top="opacity: 1; transform:scale(1);"
                         data--3300-top="opacity: 0; transform:scale(1);"
                    >
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy_1.png" alt="" class="toy__img">
                    </div>
                    <ul class="toy-list" data-animate-toy-list="toy-item"
                        data-anchor-target="#pageSlider"
                        data--1500-top="opacity: 1;"
                        data--1700-top="opacity: 0;"
                    >
                        <% const list1 = [
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item',
                                dataTopStart: 'data--600-top',
                                dataTopFinish: 'data--700-top'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item',
                                dataTopStart: 'data--700-top',
                                dataTopFinish: 'data--800-top'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item',
                                dataTopStart: 'data--800-top',
                                dataTopFinish: 'data--900-top'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item',
                                dataTopStart: 'data--900-top',
                                dataTopFinish: 'data--1000-top'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item',
                                dataTopStart: 'data--1000-top',
                                dataTopFinish: 'data--1100-top'
                            },
                            {
                                img: './images/content/toy.png',
                                data: 'toy-item',
                                dataTopStart: 'data--1100-top',
                                dataTopFinish: 'data--1200-top'
                            }
                        ]%>
                        <% list1.forEach(function (item) { %>
                            <li class="toy-list__item" data-animate-toy-item="<%= item.data %>"
                                data-anchor-target="#pageSlider"
                            <%= item.dataTopStart %>="opacity: 0; transform[bounce]:scale(0.7);"
                            <%= item.dataTopFinish %>="opacity: 1; transform[bounce]:scale(1);"
                            >
                            <div class="toy-item toy-item--big">
                                <a href="#" class="toy-item__link">
                                    <div class="toy-item-picture">
                                        <img src="<%= item.img %>" alt="" class="toy-item-picture__img">
                                    </div>
                                </a>
                            </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </section>
        <section id="pageSlide2" class="page-slider__section" data-page-slider-section
                 data-anchor-target="#pageSlider"
                 data--1800-top="position:fixed; z-index:1; transform:translateY(100vh);"
                 data--2000-top="position:fixed; z-index:1; transform:translateY(0vh);"
                 data--3400-top="position:fixed; z-index:1; transform:translateY(0vh);"
                 data--3600-top="position:fixed; z-index:1; transform:translateY(-100vh);"
        >
            <div class="create-toy"
                 data-anchor-target="#pageSlider"
                 data--1800-top="transform:translateY(-100vh);"
                 data--2000-top="transform:translateY(0vh);"
                 data--3400-top="transform:translateY(0vh);"
                 data--3600-top="transform:translateY(100vh);"
                 data--4700-top="transform:translateY(100vh);"
                 data--4900-top="transform:translateY(-100vh);"
            >
                <div class="create-toy__head"
                     data-anchor-target="#pageSlider"
                     data--2000-top="opacity:0;"
                     data--2200-top="opacity:1;"
                     data--3400-top="opacity:1;"
                     data--3600-top="opacity:0;"
                >
                    <div class="h1">Выберите одежду</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy
                         data-anchor-target="#pageSlider"
                         data--3100-top="opacity:0;"
                         data--3300-top="opacity:1;"
                         data--4500-top="opacity:1;"
                         data--4700-top="opacity:0;"
                    >
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy_2.png" alt="" class="toy__img">
                    </div>
                    <ul class="toy-list" data-animate-toy-list="toy-dress"
                        data-anchor-target="#pageSlider"
                        data--3100-top="opacity: 1"
                        data--3300-top="opacity: 0"
                    >
                        <% const list2 = [
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress',
                                dataTopStart: 'data--2200-top',
                                dataTopFinish: 'data--2300-top'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress',
                                dataTopStart: 'data--2300-top',
                                dataTopFinish: 'data--2400-top'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress',
                                dataTopStart: 'data--2400-top',
                                dataTopFinish: 'data--2500-top'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress',
                                dataTopStart: 'data--2500-top',
                                dataTopFinish: 'data--2600-top'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress',
                                dataTopStart: 'data--2600-top',
                                dataTopFinish: 'data--2700-top'
                            },
                            {
                                img: './images/content/clothes.png',
                                data: 'toy-dress',
                                dataTopStart: 'data--2700-top',
                                dataTopFinish: 'data--2800-top'
                            }
                        ]%>
                        <% list2.forEach(function (item) { %>
                            <li class="toy-list__item" data-animate-toy-item="<%= item.data %>"
                                data-anchor-target="#pageSlider"
                            <%= item.dataTopStart %>="opacity: 0; transform[bounce]:scale(0.7);"
                            <%= item.dataTopFinish %>="opacity: 1; transform[bounce]:scale(1);"
                            >
                            <div class="toy-item toy-item--big">
                                <a href="#" class="toy-item__link">
                                    <div class="toy-item-picture">
                                        <img src="<%= item.img %>" alt="" class="toy-item-picture__img">
                                    </div>
                                </a>
                            </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </section>
        <section id="pageSlide3" class="page-slider__section" data-page-slider-section
                 data-anchor-target="#pageSlider"
                 data--3400-top="position:fixed; z-index:1; transform:translateY(100vh);"
                 data--3600-top="position:fixed; z-index:1; transform:translateY(0vh);"
                 data--4700-top="position:fixed; z-index:1; transform:translateY(0vh);"
                 data--4900-top="position:fixed; z-index:1; transform:translateY(-100vh);"
        >
            <div class="create-toy"
                 data-anchor-target="#pageSlider"
                 data-top="transform:translateY(0vh);"
                 data--3400-top="transform:translateY(-100vh);"
                 data--3600-top="transform:translateY(0vh);"
                 data--4700-top="transform:translateY(0vh);"
                 data--4900-top="transform:translateY(100vh);"
            >
                <div class="create-toy__head"
                     data-anchor-target="#pageSlider"
                     data--3600-top="opacity:0;"
                     data--3800-top="opacity:1;"
                     data--4700-top="opacity:1;"
                     data--4900-top="opacity:0;"
                >
                    <div class="h1">Выберите индивидуальность</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy
                         data-anchor-target="#pageSlider"
                         data--4500-top="opacity:0;"
                         data--4700-top="opacity:1;"
                         data--5300-top="opacity:1;"
                         data--5600-top="opacity:0;"
                    >
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy_2.png" alt="" class="toy__img">
                    </div>
                    <div class="toy-list-wrapper"
                         data-anchor-target="#pageSlider"
                         data--3400-top="opacity:0;"
                         data--3600-top="opacity:1;"
                         data--4500-top="opacity:1;"
                         data--4700-top="opacity:0;"
                    >
                        <ul class="toy-list" data-animate-toy-list="toy-smell">
                            <% const list3 = [
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3600-top',
                                    dataTopFinish: 'data--3650-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3650-top',
                                    dataTopFinish: 'data--3700-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3700-top',
                                    dataTopFinish: 'data--3750-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3750-top',
                                    dataTopFinish: 'data--3800-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3800-top',
                                    dataTopFinish: 'data--3850-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3850-top',
                                    dataTopFinish: 'data--3900-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3900-top',
                                    dataTopFinish: 'data--3950-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--3950-top',
                                    dataTopFinish: 'data--4000-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--4000-top',
                                    dataTopFinish: 'data--4050-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--4050-top',
                                    dataTopFinish: 'data--4100-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--4100-top',
                                    dataTopFinish: 'data--4150-top'
                                },
                                {
                                    img: './images/content/smell.png',
                                    data: 'toy-smell',
                                    dataTopStart: 'data--4150-top',
                                    dataTopFinish: 'data--4200-top'
                                }
                            ]%>
                            <% list3.forEach(function (item) { %>
                                <li class="toy-list__item" data-animate-toy-item="<%= item.data %>"
                                    data-anchor-target="#pageSlider"
                                <%= item.dataTopStart %>="opacity: 0;"
                                <%= item.dataTopFinish %>="opacity: 1;"
                                >
                                <div class="toy-item toy-item--small">
                                    <a href="#" class="toy-item__link">
                                        <div class="toy-item-picture">
                                            <img src="<%= item.img %>" alt="" class="toy-item-picture__img">
                                        </div>
                                    </a>
                                </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="toy-list-wrapper toy-list-wrapper--margin-top">
                        <ul class="toy-list" data-animate-toy-controls-list="toy-smell"
                            data-anchor-target="#pageSlider"
                            data--3600-top="opacity:0;"
                            data--3800-top="opacity:1;"
                            data--4500-top="opacity:1;"
                            data--4700-top="opacity:0;"
                        >
                            <% const list4 = [
                                {
                                    class: 'i-icon--smell',
                                    icon: '#icon-smell',
                                    active: true
                                },
                                {
                                    class: 'i-icon--sound',
                                    icon: '#icon-sound'
                                },
                                {
                                    class: 'i-icon--lamp',
                                    icon: '#icon-lamp'
                                }
                            ]%>
                            <% list4.forEach(function (item) { %>
                                <li class="toy-list__item <%= item.active ? "active" : "" %>" data-animate-toy-controls-item="<%= item.data %>">
                                    <div class="toy-item toy-item--black">
                                        <a href="#" class="toy-item__link">
                                            <svg class="i-icon <%= item.class %>">
                                                <use xlink:href="<%= item.icon %>"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="pageSlide4" class="page-slider__section" data-page-slider-section
                 data-anchor-target="#pageSlider"
                 data--4700-top="position:absolute; z-index:1; opacity: 1; transform:translateY(100vh);"
                 data--4900-top="position:absolute; z-index:1; opacity: 1; transform:translateY(0vh);"
                 data--6000-top="position:absolute; z-index:1; opacity: 1; transform:translateY(0vh);"
                 data--6500-top="position:absolute; z-index:1; opacity: 0; transform:translateY(0vh);"
        >
            <div class="create-toy">
                <div class="create-toy__head"
                     data-anchor-target="#pageSlider"
                     data--4900-top="opacity:0;"
                     data--5300-top="opacity:1;"
                >
                    <div class="h1">Ваша игрушка готова!</div>
                    <div class="create-toy__desc">
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, <br>
                        у малыша появляется желание творит чудеса.
                    </div>
                </div>
                <div class="create-toy__body">
                    <div class="toy" data-toy
                         data-anchor-target="#pageSlider"
                         data--5300-top="opacity:0;"
                         data--5600-top="opacity:1;"
                    >
                        <svg class="i-icon">
                            <use xlink:href="#icon-toy-heart"></use>
                        </svg>
                        <img src="./images/content/toy_2.png" alt="" class="toy__img">
                    </div>
                    <div class="toy-list-wrapper toy-list-wrapper--vertical">
                        <div class="toy-list toy-list--vertical">
                            <div class="toy-list__item"
                                 data-anchor-target="#pageSlider"
                                 data--5300-top="opacity:0;"
                                 data--5400-top="opacity:1;"
                            >
                                <div class="toy-item toy-item--big toy-item--black">
                                    <a href="#" class="toy-item__link">
                                        <div class="toy-item-picture">
                                            <img src="./images/content/sound-frend.png" alt="" class="toy-item-picture__img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="toy-list__item"
                                 data-anchor-target="#pageSlider"
                                 data--5400-top="opacity:0;"
                                 data--5500-top="opacity:1;"
                            >
                                <div class="toy-item toy-item--big toy-item--black">
                                    <a href="#" class="toy-item__link">
                                        <div class="toy-item-picture">
                                            <img src="./images/content/smell.png" alt="" class="toy-item-picture__img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="create-toy__foot"
                     data-anchor-target="#pageSlider"
                     data--5500-top="opacity:0;"
                     data--5600-top="opacity:1;"
                >
                    <div class="link-arrow">
                        <a href="#" class="link-arrow__link">
                            <span class="link-arrow__label">Смотреть все товары</span>
                            <i class="link-arrow__circle">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-arrow-right"></use>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>